@model LoginViewModel
<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css"/>
</head>
<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="header">Login</div>
    <div class="block">
        <label>Username</label>
        <input class="input" asp-for="Username"/>
    </div>
    <div class="block">
        <label>Password</label>
        <input class="input" asp-for="Password"/>
    </div>
    <div class="block">
        <button class="button" type="submit">Sign In</button>
    </div>
</form>